@import './mixin/mixin';
@import './variable/variable';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0;

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 32px;
    margin: 0 auto;
}

.yellow {
    color: $yellow !important;
}

.hoverYellow {
    &:hover {
        color: $yellow !important;
        transition: all 0.5s ease;
    }
}

// <!----------------- NAVBAR --------------->
nav {
    width: 100%;
    padding-bottom: 30px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    position: fixed;
    color: white;

    .nav-center {
        width: 100%;
        padding-top: 30px;
        @include display(space-between, center);

        .first {
            h2 {
                font-size: 32px;

                span {
                    font-size: 40px;
                    color: $yellow;
                }
            }
        }

        .second {
            ul {
                @include display;
                gap: 15px;
                font-size: 18px;

                li a {
                    color: white;
                    font-weight: 600;

                    &:hover {
                        color: $yellow;
                        transition: all 0.5s ease;
                    }
                }
            }
        }

        .third {
            @include display;
            gap: 5px;
            font-weight: 700;

            span {
                color: $yellow;
            }
        }

        #menu {
            font-size: 40px;
            font-weight: 900;
            display: none;
            color: white;
            cursor: pointer;
        }

        .toggle {
            display: none;
        }

    }

}

// <!----------------- BANNER --------------->
#banner {
    width: 100%;
    padding: 200px 0px;
    background-image: url(../img/slider-1.jpg);
}

// <!----------------- CRUD --------------->
#ourmenu {
    width: 100%;
    padding: 100px 0px;
    background-image: url(../img/menu-bg.jpg);
    color: white;

    .ourmenu-center {
        .top {
            @include display;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 80px;
            }

            h2 {
                font-size: 30px;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 200px;
                    height: 2px;
                    background-color: $yellow;
                    top: 50%;
                    bottom: 50%;
                    left: -250px;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 200px;
                    height: 2px;
                    background-color: $yellow;
                    top: 50%;
                    bottom: 50%;
                    right: -250px;
                }
            }
        }

        .menu-tab {
            width: 100%;
            @include display;
            gap: 20px;
            padding-top: 70px;

            a {
                color: white;
                font-size: 17px;
            }
        }

        .bottom {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, auto);
            padding-top: 100px;
            gap: 50px;

            .menu-item {
                width: 100%;
                @include display;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;

                .description {
                    width: 100%;
                    @include display(space-between, center);
                    p {
                        color: $gray;
                    }

                    .price {
                        position: relative;
                        &:after {
                            width: 150px;
                            position: absolute;
                            content: '';
                            height: 2px;
                            top: 50%;
                            left: -180px;
                            margin-top: -1px;
                            border-bottom: 2px dotted $gray;
                        }
                    }
                }
            }
        }
    }
}



















// <!----------------- Responsive --------------->
@media screen and (max-width: 992px) {
    nav .nav-center {
        .third {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    nav .nav-center {
        .second {
            display: none;
        }

        #menu {
            display: block;
        }
    }
}