* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 32px;
  margin: 0 auto;
}

.yellow {
  color: #ebb716 !important;
}

.hoverYellow:hover {
  color: #ebb716 !important;
  transition: all 0.5s ease;
}

nav {
  width: 100%;
  padding-bottom: 30px;
  border-top: 1px solid #474a53;
  border-bottom: 1px solid #474a53;
  position: fixed;
  color: white;
}
nav .nav-center {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-center .first h2 {
  font-size: 32px;
}
nav .nav-center .first h2 span {
  font-size: 40px;
  color: #ebb716;
}
nav .nav-center .second ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}
nav .nav-center .second ul li a {
  color: white;
  font-weight: 600;
}
nav .nav-center .second ul li a:hover {
  color: #ebb716;
  transition: all 0.5s ease;
}
nav .nav-center .third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}
nav .nav-center .third span {
  color: #ebb716;
}
nav .nav-center #menu {
  font-size: 40px;
  font-weight: 900;
  display: none;
  color: white;
  cursor: pointer;
}
nav .nav-center .toggle {
  display: none;
}

#banner {
  width: 100%;
  padding: 200px 0px;
  background-image: url(../img/slider-1.jpg);
}

#ourmenu {
  width: 100%;
  padding: 100px 0px;
  background-image: url(../img/menu-bg.jpg);
  color: white;
}
#ourmenu .ourmenu-center .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#ourmenu .ourmenu-center .top span {
  font-size: 80px;
}
#ourmenu .ourmenu-center .top h2 {
  font-size: 30px;
  position: relative;
}
#ourmenu .ourmenu-center .top h2::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background-color: #ebb716;
  top: 50%;
  bottom: 50%;
  left: -250px;
}
#ourmenu .ourmenu-center .top h2::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background-color: #ebb716;
  top: 50%;
  bottom: 50%;
  right: -250px;
}
#ourmenu .ourmenu-center .menu-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
}
#ourmenu .ourmenu-center .menu-tab a {
  color: white;
  font-size: 17px;
}
#ourmenu .ourmenu-center .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 100px;
  gap: 50px;
}
#ourmenu .ourmenu-center .bottom .menu-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
#ourmenu .ourmenu-center .bottom .menu-item .description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ourmenu .ourmenu-center .bottom .menu-item .description p {
  color: #7e7e7e;
}
#ourmenu .ourmenu-center .bottom .menu-item .description .price {
  position: relative;
}
#ourmenu .ourmenu-center .bottom .menu-item .description .price:after {
  width: 150px;
  position: absolute;
  content: "";
  height: 2px;
  top: 50%;
  left: -180px;
  margin-top: -1px;
  border-bottom: 2px dotted #7e7e7e;
}

@media screen and (max-width: 992px) {
  nav .nav-center .third {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-center .second {
    display: none;
  }
  nav .nav-center #menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */