*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    padding: 0 32px;
    max-width: 1300px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

@import "section5";
@import "add";